<!DOCTYPE html>
<html>
    <head>
        <title>AshFlashtheOrig.net | Page Not Found</title>
        <link rel="stylesheet" src="./static/reset.css"/>
        <style>
        a { color:#2197FF; text-decoration:none; }
        a:hover { text-decoration:underline; }
        a:active { color:#7AC1FF; text-decoration:none; }
        </style>
    </head>
    
    <body style="background:black; display:block; margin:0px auto; width:800px;">
    <h1 style="color:white; font-size:120px; text-align:center;">404</h1>
    <p style="color:white; text-align:center;">So... This is awkward.</p>
    <p style="color:white; text-align:center;">What you're looking for isn't here. Can I guide you back to the <a href="/">homepage</a>?</p>
    </body>
</html>