<!DOCTYPE html>
<html>
    <head>
        <title>AshFlashtheOrig.net | Internal Server Error</title>
        <link rel="stylesheet" src="./static/reset.css"/>
        <style>
            a { color:#2197FF; text-decoration:none; }
            a:hover { text-decoration:underline; }
            a:active { color:#7AC1FF; text-decoration:none; }
        </style>
    </head>
    
    <body style="background:black; display:block; margin:0px auto; width:800px;">
    <h1 style="color:white; font-size:120px; text-align:center;">500</h1>
    <p style="color:white; text-align:center;">Now you've done it!</p>
    <p style="color:white; text-align:center;">Something got broke. While we fix it, can I guide you back to the <a href="{{ url_for('index') }}">homepage</a>?</p>
    </body>
</html>