{% extends 'base.html' %}

{% block title %}About AshFlash{% endblock %}
{% block page_title %}Biography{% endblock %}

{% block content %}
<p>It's in the winding paths of the roads less travelled where AshFlash has a story to tell. These tales are a breath of fresh air in the world of rap where 'guns, bitches and crack' drown out the voices of real MCs. However, for the better half of 10 years, this Winnipeg-born, Ottawa-based rapper has been perfecting his craft by expanding his perspective on the world around him to form a sometimes gritty, sometimes hauntingly beautiful sound that is truly unique.</p>

<p>Since the release of his first mixtape, Def Winter Vol. 1 in 2010, AshFlash has been working on individual tracks with the goal of becoming truly satisfied with the music he makes. While no date is set for a new album or mixtape, the progress he's made in leaps and bounds can be heard in such songs like Live on Pain or A Tribute to a Rabbit, which convey an honest & raw insight into AshFlash's life.</p>

<p>In early 2012, AshFlash was convinced he was done making music, and just as he was coming to terms with it, inspiration struck him while listening to some Aesop Rock. As quickly as it almost ended, AshFlash was reunited with his pen and started writing again with a fervour like never before. If his latest tracks are any indication of what the next album is going to be like, AshFlash will have surely taken his music to the next level.</p>
{% endblock%}